/* 球 */
.ball {
  background: radial-gradient(circle at 30px 30px,#fff,rgb(216, 230, 20));
  /* position: absolute; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* 挡板 */
.baffle {
  background: rgb(90, 201, 245);
  /* position: absolute; */
  width: 120px;
  height: 10px;
  transition: transform .3s ease;
}

/* 矩形 */
.square {
  background: aquamarine;
  /* position: absolute; */
  width: 60px;
  height: 60px;
  transition: transform .3s ease;
}

/* 黑洞 */
.hole {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #000;
  box-shadow: 0px 0px 0px 5px #aaa;
}

/* 三角 */
.triangle {
  border-left: none;
  border-top: none;
  border-bottom: 60px purple solid;
  border-right: 60px transparent solid;
  transition: transform .3s ease;
}

/* 圆形 */
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: deeppink;
}

/* 直管道 */
.pipe {
  width: 25px;
  height: 50px;
  background: rgb(20, 223, 230);
  border-left: 5px rgb(19, 70, 209) solid;
  border-right: 5px rgb(19, 70, 209) solid;
}

/* 弯管道 */
.curve {
  width: 40px;
  height: 40px;
  border: 5px rgb(19, 70, 209) solid;
  background: rgb(20, 223, 230);
  border-left: none;
  border-top: none;
  border-radius: 0 0 100% 0;
}

.curve::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 4px solid rgb(19, 70, 209);
  border-left: none;
  border-top: none;
  border-radius: 0 0 100% 0;
}