.ball {
  background: radial-gradient(circle at 30px 30px,#fff,rgb(216, 230, 20));
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.baffle {
  background: rgb(90, 201, 245);
  position: absolute;
  width: 120px;
  height: 10px;
}

.square {
  background: aquamarine;
  position: absolute;
  width: 60px;
  height: 60px;
}