.app {
  border: 1px #aaa solid;
  width: 800px;
}

.main {
  display: flex;
  width: 800px;
  position: relative;
}

.topbar {
  background: rgb(245, 245, 245);
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #aaa;
}

.topbar p {
  box-sizing: border-box;
  color: #888;
  margin: 0;
  width: 200px;
  font-size: 14px;
}

.topbar-buttons {
  display: flex;
}

.topbar button {
  width: 100px;
  border: none;
  border-right: 1px #aaa solid;
}

.topbar button:focus {
  outline: none;
}

.topbar button:hover {
  background: #ddd;
}

.game-board {
  width: 600px;
  height: 600px;
  background: #58a;
  background-image: linear-gradient(#bbb 1px, transparent 0),
    linear-gradient(90deg, #bbb 1px, transparent 0);
  background-size: 30px 30px;
  position: relative;
}

.side-bar {
  text-align: center;
  width: 200px;
}

.title {
  background: #bbb;
  color: #fff;
  margin: 0;
  height: 24px;
  user-select: none;
}

.components {
  height: 300px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  overflow-y: auto;
  height: calc(100% - 24px);
}

.grid {
  margin-top: 5px;
  box-sizing: border-box;
  width: 90px;
  height: 90px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.item:hover {
  cursor: pointer;
}

.tools {
  height: 150px;
}

.tool {
  width: 45px;
  height: 45px;
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 10px;
  object-fit: contain;
}

.tool:hover {
  outline: 2px solid #ddd;
  outline-offset: 5px;
}

.mode {
  height: 150px;
}

.mode-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(100% - 24px);
}

.mode-buttons button {
  height: 50px;
  background: #eee;
  border: 1px solid #bbb;
  border-radius: 3px;
}

.mode-buttons button:hover {
  background: #ddd;
}
