.active {
  position: absolute;
  box-sizing: border-box;
  transition: transform .3s ease,
    width .2s ease,
    height .2s ease,
    border-width .2s ease;
}

.active.ball {
  z-index: 1;
  transition: width .2s ease,
    height .2s ease;
}

.active.baffle {
  transition-duration: .1s;
}

.focus {
  outline: 2px dashed #111;
  outline-offset: 2px;
}